@import "~bootstrap/scss/bootstrap.scss";

* {border:border-box}
html,body{height:100%}

body {
   background:linear-gradient(145deg, #15191c, #121517);
   margin-top: 15%;
}

/* Glassmorphism card effect */
.caja {
    border-radius:30px;
    background: linear-gradient(145deg, #15191c, #121517);
    box-shadow:  22px 22px 35px #0d0f11,
                 -22px -22px 35px #1b1f23;
}



h1 {font-size: 34px;}

.papelera {
    display:none;
}

.tarea:hover .papelera {display:block}


.input {
    border-radius: 10px;
    background: linear-gradient(90deg, #212325, #121418);
    box-shadow:  15px 15px 25px #0d0f12,
             -15px -15px 25px #1b1d24;
            
    &:focus-visible{outline:none}        }


.boton {
    padding:10px 15px;
    border-radius: 10px;
    background: #740101;
box-shadow: inset -5px -5px 10px #640101,
            inset 5px 5px 10px #840101;;
    }

.boton:hover {
    border-radius: 10px;
    background: #740101;
box-shadow: inset 5px 5px 10px #640101,
            inset -5px -5px 10px #840101;}